.EarthquakesList {
  ul {
    list-style-type: none;
    max-width: 600px;
    .EarthquakeBox {
      .earthquake-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          max-height: 140px;
          max-width: 140px;
        }
      }
      .earthquake-body {
        font-family: serif;
      }
    }
  }
}
